<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTDMapper3.0//EN" 
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.smartlab.boardlist.mapper.UserMapper">
  
      <insert id="insertUser" parameterType="com.smartlab.boardlist.vo.UserVO">
          INSERT INTO users(username, password, firstName, lastName, age, salary)
          VALUES(#{username}, #{password}, #{firstName}, #{lastName}, #{age}, #{salary})
      </insert>
  
     <select id="userList" resultType="com.smartlab.boardlist.vo.UserVO">
         SELECT * FROM users
         ORDER BY id
     </select>
     
     <select id="fetchUserByID" resultType="com.smartlab.boardlist.vo.UserVO"
      parameterType="int">
         SELECT * FROM users
         WHERE id = #{id}
     </select>
     
     <delete id="deleteUser" parameterType="int">
         DELETE FROM users
         WHERE id = #{id}
     </delete>
     
     <update id="updateUser" parameterType="com.smartlab.boardlist.vo.UserVO">
         UPDATE users
         SET firstName = #{firstName}, lastName = #{lastName}, age = #{age}, salary = #{salary} 
         WHERE id = #{id}
     </update>
  
  </mapper>